:root {
    --mainBgColor: hsl(218, 28%, 13%);
    --signupBg: hsl(217, 28%, 15%);
    --footerBg: hsl(216, 53%, 9%);
    --testimonialBg: hsl(219, 30%, 18%);
    --ctoBg: hsl(176, 68%, 64%);
    --cto2: hsl(198, 60%, 50%);
    --lRed:hsl(0, 100%, 63%);
}
p{
    font-family: 'Open Sans', sans-serif;
}
section{
    margin: 60px 0;
}
h1,h2,h3,h4,h5, nav ul li a, button{
    font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4,h5{
    font-weight: 700;
    margin-bottom: 20px;
}
.d-flex{
    display: flex;
}
.pb-10{
    padding-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
*{
    margin: 0;
}
ul{
    padding-left: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
body{
    background-color: var(--mainBgColor);
    color: #fff;
}
button{
    padding: 16px;
    border-radius: 24px;
    border: none;
    color: #fff;
    margin-top: 20px;
    background-color: var(--ctoBg);
}
#top-logo a img{
    width: 100%;
    height: auto;
    max-width: 140px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
nav ul li{
    display: inline-block;
    padding-left: 20px;
    font-size: 16px;
}
nav ul li:hover{
    font-weight: bold;
    text-decoration: underline;
}
#intro-section{
    text-align: center;
    margin: 40px 0;
    padding: 40px;
}
#intro-section img{
    width: 100%;
    max-width: 700px;
    height: auto;
}
#intro-section button{
    width: 40%;
}
#features-section{
    text-align: center;
}
#feat-items{
    display: grid;
    grid-template-columns: auto auto;
}
#feat-items div{
    margin: 40px;
}
#works{
    display: grid;
    grid-template-columns: auto auto;
    margin: 50px;
}
#works img#work-img{
    width: 100%;
    max-width: 600px;
    height: auto;
}
#works-text{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#works-text a{
    color: var(--ctoBg);
    text-decoration: underline;
    text-underline-position: under;
}
#works-text a:hover{
    color: #fff;
}
#test-upper-div{
    margin: 40px 80px;
}
.test-items{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 40px;
}
.testimonial-item{
    background-color: var(--testimonialBg);
    padding: 30px;
}
.testimonial-item img{
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 60px;
    float: left;
    margin-right: 20px;
}
.test-desc{
    margin-top:30px;
}
#test-upper-div img#quote{
    position: relative;
    top: 18px;
    left: -5px;
    z-index: -1;
}
#sub-section{
    background-color: var(--testimonialBg);
    padding: 60px;
    text-align: center;
    width: 55%;
    margin: 0 auto;
    position: relative;
    z-index: 999;
    top: 80px;
}
.testimonial-item, #sub-section{
    border-radius: 8px;
}
input{
    border: none;
    height: 50px;
    border-radius: 22px;
    width: 60%;
    outline: none;
}
footer{
    background-color: var(--footerBg);
    padding: 100px 60px;
}
#footer-logo img{
    max-width: 100px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
#footer-contents{
    display: grid;
    grid-template-columns: repeat(5, auto);
}
.footer-content img{
    float: left;
    margin-right: 10px;
}
.social-icons li{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 50%;
    border: 1px solid #fff
}
.social-icons li:hover{
    color: var(--ctoBg);
    border: 1px solid var(--ctoBg);
}

@media only screen and (max-width: 1123px){
    #sub-section form{
        margin-top: 30px;
    }
    #sub-section button{
        width: 100%;
    }
    input{
        width: 100%;
    }
}
@media only screen and (max-width: 1030px){
    .test-items{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 40px;
    }
    .testimonial-item{
        margin-bottom: 30px;
    }
    #footer-contents{
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
    .footer-content{
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 732px){
    .test-items{
        display: grid;
        grid-template-columns: auto;
    }
    #works{
        display: grid;
        grid-template-columns: auto;
    }
    #works img#work-img{
        margin-bottom: 30px;
    }
    #feat-items{
        display: grid;
        grid-template-columns: auto;
    }
    #footer-contents{
        display: grid;
        grid-template-columns: auto;
    }
}